# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml

# Android
android/app/google-services.json
android/key.properties
android/upload-keystore.jks
android/.gradle/

# Firebase
google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.log